body {
  font-family: 'Times New Roman', Arial;
  margin: 0px auto;
  /* box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px; */
  padding: 35px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 750px;
}

.nameplate {
  font-weight: bold;
  font-size: 26px;
}

.section {
  margin-bottom: 10px;
  border-top: 1px solid black;
  width: 750px;
}

.section-heading {
  font-weight: bold;
  font-size: 17px;
}

.school {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.school-name,
.school-info {
  display: inline-block;
  text-align: top;
  font-size: 14px;
}

.bullets {
  margin: 0;
  margin-bottom: 5px;
}

.company-plate,
.course-plate,
.activity-plate {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  font-size: 14px;
}

.company-name,
.course-name,
.organization {
  font-weight: bold;
  font-size: 14px;
}

.role {
  font-style: italic;
}